/* Your CSS */

body {
	font: normal normal 400 14px/145% "Roboto", Tahoma, Geneva, "Trebuchet MS", Helvetica, sans-serif;
	padding: 0 0 5em 0;
}
.d-none {display:none}

h1 {
	font: normal normal 300 3em/140% "Roboto", Tahoma, Geneva, "Trebuchet MS", Helvetica, sans-serif;
	margin: 1em 0 .5em;
}

a {
	color: #6bc32d;
}

a:hover {
	color: #3f7c14;
	text-decoration: none;
}

.container {
	margin: 0 auto;
	width: 1170px;
	max-width: 100%;
}

div.container section {
	margin-top: 120px;
}


div.rest-interface {
	display: flex;
}

.rest-api-block, .alert {
	background-color: #fcfcfc;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #ccc;
	border-top-color: #6bc32d;
	box-shadow: 0px 2px 6px #ddd;
	padding: 1em;
}
div.rest-interface > div {
	flex:1;
	margin-right:1em
}

.rest-api-block h2 {
		font-size: 1.4em;
}

.rest-api-block p {
		margin: 0.5em 0 0;
}

.rest-api-block p.sep {
		border-top: 1px dashed #ccc;
		margin-top: 2em;
		padding-top: 1.5em;
}

.rest-api-block p > label {
		color: #a1a1a1;
		display: block;
		margin: 0;
		padding: 0;
}

.rest-api-block p > input {
		background-color: #fafafa;
		border: 1px solid #ddd;
		border-radius: 3px;
		display: block;
		font-size: 1.2em;
		padding: .1em;
		width: 100%;
}


.green_btn {
	width: 45%;
	background-color: #333333;
	background: linear-gradient(to bottom, #66cc33 0%,#339900 100%);
	color: #fff;
	cursor: pointer;
	font: 99% sans-serif;
	line-height: 1.4em;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid #ddd;
	border-radius: 3px;
	display: inline-block;
	font-size: 1.2em;
	padding: .1em;
	margin: 0.5em 0 0;
}

nav {display:flex ;max-width:1170px ;margin:auto                            }
main,footer  { max-width :     1170px ;          margin    :     auto                    }
nav ul {margin:0}
nav img:hover {filter:grayscale(1)}
#omg-table {font-size:0;}
#omg-table table {font-size:14px;}
nav ul li {
	float:left;
	list-style:none;
	color:#555;
	border-left:1px solid #aaa;
	transition:.2s;
} nav ul li:hover {
	  color:#000;cursor:pointer;
	  background:#aaa;
  } nav ul li a {
		display:inline-block;
		padding:20px 8px;
		color: #555;text-decoration:none;
	} nav ul li:hover a, nav ul li a:hover {
		  color:#000
	  }
table td {padding:10px 20px;}
table thead th {padding:10px;text-transform:capitalize;border-bottom:2px solid #9b2}
table tr:nth-of-type(2n+1) td {background:#eee}
header {
	background:linear-gradient(#bbb,#eee)
}
body {margin:0;
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	line-height:1.45em;
}
main p.text {
	column-count: 3;
	border:1px solid #eee;
	border-radius:5px;
	padding:20px;
	box-shadow:0 0 10px #0002;
	border-top:2px solid #9b2;
} footer {
	  padding:20px 0;
	  display:flex;
	  margin-top:100px;
	  border-top:1px solid #9b2;
  } footer div:last-of-type {
		flex:1;
		text-align:right
	}
.table-actions li {list-style:none;color:gray;display:inline-block;padding:0px 8px;border-left:1px solid gray;text-decoration:underline;}
.table-actions li:hover {color:#9b2;text-decoration:none;cursor:pointer}
a {color:#9b2;text-decoration:underline}
a:hover {color:#9b2;text-decoration:none}
.nav-toggle {display:none}

@media(max-width:1200px) {
	main p { column-count: 2; }
	main {margin:20px}
}
@media(max-width:768px) {
	nav {display:block}
	nav ul {background:white;padding:0;display:none}
	main p { column-count: 1; }
	.nav-toggle {display:block;position:absolute;top:0;right:0;padding:17px}
	.nav-collapse li {display:block;float:none;border:none;padding:12px}
}

button.green_btn {display:block;width:100%}
table {width:100%}

.alert {padding: 1em 2em; border-top: 5px solid;margin-bottom:1em;border-radius: 3px}
.alert-success { border-color: #22c722; }
.alert-danger { border-color: #b72929; }
