<script>
    import Table from './Table.svelte'
</script>

<header>
    <nav>
        <img alt="dann halt nicht" src="img/world_data-logo.svg" height="50"/>
        <div class="nav-toggle" onclick="menuToggle()"><i class="fa fa-bars"></i></div>
        <ul class="nav-collapse" id="auch-nav-collapse">
            <li><a><i class="fa fa-table"></i> A1 - Table</a></li>
            <li><a><i class="fa fa-cogs"></i> A2 - Parse</a></li>
            <li><a><i class="fa fa-save"></i> A2 - Save</a></li>
            <li><a><i class="fa fa-print"></i> A2 - Print</a></li>
            <li><a><i class="fa fa-node-js"></i> A3 - REST</a></li>
            <li><a><i class="fa fa-map"></i> A4 - Vis</a></li>
            <li><a><i class="fa fa-cube"></i> A5 - 3D</a></li>
        </ul>
    </nav>

</header>

<main>
    <Table/>
</main>

<footer>
    <div>&copy; 2020 world_data<br>first course execrices in <b>HHTML, CSS and JS</b> of the lecrture Multia engine</div>
    <div>created by:<br> Dominik Ziegenhagel</div>
</footer>
