<script>
    import { onMount } from 'svelte'

    let items = []
    let properties = []
    let currentProperty = 0

    let filter_countries = {id: "", range: ""}
    let form_add_country = {name: "", 'birth rate per 1000': "", 'cell phones per 100': ""}
    let form_delete_country = {id: ""}

    let message = {success: true, status: undefined}

    function checkMessage(res) {
        message = res
        return message.success === undefined || message.success
    }

    onMount(() => {
        fetch(`properties`).then(d=>d.json()).then((r) => {
            properties = r.map( (s) => { return {s, enabled:true } } )
            getData();
        })
    });

    function getData() {
        fetch(`items`).then(d=>d.json()).then((res)=>{
            items = res
        })
    }

    function addCountry() {
        fetch(`items`,{
            method:"post",
            headers:{"content-type":"application/json"},
            body:JSON.stringify(form_add_country)
        }).then(d=>d.json()).then((res)=>{
            if(checkMessage(res)) getData()
        })
    }

    function deleteCountry() {
        fetch(`items/${form_delete_country.id}`,{ method:"delete" }).then(d=>d.json()).then((res)=>{
            if(checkMessage(res)) getData()
        })
    }

    function getDataFiltered() {
        if(filter_countries.range === "")
            fetch(`items/${filter_countries.id}`).then(d=>d.json()).then((res)=>{
                if(checkMessage(res)) items = [res]
            })
        else
            fetch(`items/${filter_countries.range.replace("-","/")}`).then(d=>d.json()).then((res)=>{
                if(checkMessage(res)) items = res
            })
    }

    function hideProp() {properties[currentProperty].enabled=false}
    function showProp() {properties[currentProperty].enabled=true}
</script>


<section>
    <h1>Testing our REST API</h1>

    {#if message.status !== undefined}
        <div class="{'alert ' + (message.success ? 'alert-success' : 'alert-danger')}" >{message.status}</div>
    {/if}

    <div class="rest-interface">
        <div class="rest-country">
            <div class="rest-api-block">
                <h2>Filter Countries</h2>
                    <p>
                        <label for="country_filter_id">country id</label>
                        <input type="text" name="country_filter_id" id="country_filter_id" bind:value={filter_countries.id}>
                    </p>
                    <p>
                        <label for="country_filter_range">country id range (eg: 2-5)</label>
                        <input type="text" name="country_filter_range" id="country_filter_range" bind:value={filter_countries.range}>
                    </p>
                    <button class="green_btn" name="submit" on:click={getDataFiltered}>Filter Countries</button>

                    {#if filter_countries.id !== "" || filter_countries.range !== ""}
                        <button class="green_btn" name="submit" on:click={()=>{filter_countries = {id:"", range: ""}; getData()}}>Reset filter</button>
                    {/if}
            </div>
        </div>
        <div class="rest-prop">
            <div class="rest-api-block">
                <h2>Properties</h2>
                <select id="prop_selection" bind:value={currentProperty}>
                    {#each properties as property, i}
                        <option value={i}>{property.s}</option>
                    {/each}
                </select>
                {#if properties.length > 0 && properties[currentProperty].enabled}
                    <button class="green_btn" id="hide_selected_prop" on:click={hideProp}>Hide</button>
                {:else}
                    <button class="green_btn" id="show_selected_prop" on:click={showProp}>Show</button>
                {/if}
            </div>
        </div>
        <div class="rest-add">
            <div class="rest-api-block">
                <h2>Add Country</h2>
                    <p>
                        <label for="country_name">country name</label>
                        <input type="text" name="country_name" id="country_name" bind:value={form_add_country.name}>
                    </p>
                    <p>
                        <label for="country_birth">birth rate / 1000</label>
                        <input type="number" name="country_birth" id="country_birth" bind:value={form_add_country["birth rate per 1000"]}>
                    </p>
                    <p>
                        <label for="country_cellphone">cellphones / 100</label>
                        <input type="number" name="country_cellphone" id="country_cellphone" bind:value={form_add_country["cell phones per 100"]}>
                    </p>
                    <button class="green_btn" name="submit" id="add_submit" on:click={addCountry}>Add Country</button>
            </div>
        </div>
        <div class="rest-delete">
            <div class="rest-api-block">
                <h2>Delete Country</h2>
                    <p>
                        <label for="country_delete_id">Country ID to delete</label>
                        <input type="text" name="country_delete_id" id="country_delete_id" bind:value={form_delete_country.id}>
                    </p>
                    <button class="green_btn" name="submit" id="rem_submit" on:click={deleteCountry}>Remove Country</button>
            </div>
        </div>
    </div>
</section>

<section>

    {#if properties.length > 0}
        <table>
            <thead>
                {#each properties.filter(p=>p.enabled) as property}
                    <th>{property.s}</th>
                {:else}
                    <th>No props enabled</th>
                {/each}
            </thead>
            <tbody>
                {#each items as item}
                    <tr>
                    {#each properties.filter(p=>p.enabled) as property}
                        <td>{item[property.s]}</td>
                    {/each}
                    </tr>
                {:else}
                    <p>No table items found.</p>
                {/each}
            </tbody>
        </table>
    {/if}

</section>

